@model AccountDemo.Models.RegisterModel

@{
    ViewData["Title"] = "Register Account";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Register</h1>
<hr />
<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <form asp-action="Register">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group mb-3">
                    <label asp-for="UserName" class="control-label mb-2 fw-semibold">Username</label>
                    <input asp-for="UserName" type="text" class="form-control" />
                    <span asp-validation-for="UserName" class="text-danger"></span>
                </div>
                <div class="form-group mb-3">
                    <label asp-for="Email" class="control-label mb-2 fw-semibold"></label>
                    <input type="password" asp-for="Email" class="form-control">
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group mb-3">
                    <label asp-for="PhoneNumber" class="control-label mb-2 fw-semibold">Phone</label>
                    <input asp-for="PhoneNumber" type=" text" class="form-control">
                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                </div>
                <div class="form-group mb-3">
                    <label asp-for="Password" class="control-label mb-2 fw-semibold"></label>
                    <input asp-for="Password" type="text" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-primary px-3 py-2 fw-semibold" value="Register" />
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}